<nav class="navbar navbar-expand-lg navbar-light" style="background-color: RGB(240,240,240);z-index: 1;">
    <a class="navbar-brand" href="/">
        <img src="img/user/logo.png" style="width: 30%; height: 30%;" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span type="button" class="dropdown-toggle" data-bs-toggle="dropdown">
            <span class="navbar-toggler-icon"></span>
        </span>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/user">Trang chủ</a></li>
            <li><a class="dropdown-item" href="#">Liên hệ</a></li>
            <li><a class="dropdown-item" href="#">Chọn món</a></li>
            <li><a class="dropdown-item" href="#">Đặt chỗ</a></li>
            <li><a class="dropdown-item" href="/user/order">Đơn hàng</a></li>
            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-cart-shopping mx-2"></i>Giỏ hàng</a>
            </li>
        </ul>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/user">Trang chủ</a> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/menu">Chọn món</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Đặt chỗ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/order">Đơn hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> <i class="fa-solid fa-cart-shopping"></i></a>
            </li>

        </ul>

    </div>
    <a href="/user/profile" class="text-dark">
        <i class="fa-solid fa-circle-user  mx-1" style="font-size: 2em;"></i>
    </a>
    <p class="mx-2 mt-1">{{name}}</p>
    <a class=" btn btn-primary mx-1" href="/logout">Đăng xuất</a>
</nav>