<h3>Trang chủ</h3>
<div class="container-fluid py-4">
    <div class="row gap-5 shadow p-3 mb-3 bg-white rounded-4 w-100 m-0">
        <div class="col-6 d-flex justify-content-between flex-column p-2 rounded-3">
            <div>
                <img src="img/user/university.jpg" alt="" class="rounded" />
            </div>
        </div>
        <div class="col-5"> 
            <div style="color: #88D49A;" class="fw-bold fs-4 mb-2" id="namePre"><h1>Welcome admin !</h1></div>

            <hr />
            <div><h3>Có thể bạn chưa biết?</h3></div>
            <div class="col-10"> 
                Với Canteen Admin HCMUS, bạn sẽ trở thành người quản lý canteen thông minh, hiệu quả. Cung cấp cho bạn những số liệu thống kê chi tiết và trực quan, giúp bạn dễ dàng xây dựng các giải pháp phù hợp để đáp ứng nhu cầu của khách hàng. Hơn nữa, việc quản lý mặt hàng sẽ trở nên chặt chẽ hơn, và bạn cũng có thể xây dựng chiến lược quảng cáo tối ưu nhất. Canteen Admin - người bạn đồng hành đáng tin cậy trong việc quản lý canteen của bạn.
            </div>
            <hr />
            <br>
            <div class="mb-4 direct">
                <a href="/admin/customers   " class="btn btn-warning rounded-pill">
                    <i class="fa-solid fa-users"></i>
                    <b>Xem ngay thông tin khách hàng</b></a>
            </div>
            <div class=" fs-4 mb-4 direct">
                <a href="/admin/statistics/2" class="btn btn-warning rounded-pill">
                    <i class="fa-solid fa-money-bill-transfer"></i>
                    <b>Xem ngay thông tin doanh thu của canteen</b></a>
            </div>
            <div class="mb-4 direct">
                <a href="/admin/orders" class="btn btn-warning rounded-pill">
                    <i class="fa-solid fa-box"></i>
                    <b style="">Xem ngay các thông tin đơn hàng hiện có</b></a>
            </div>
            <div class="mb-4 direct" style="font-size: 30px;">
                <a href="/admin/products" class="btn btn-warning rounded-pill">
                    <i class="fa-solid fa-bowl-food"></i>
                    <b>Xem thông tin mặt hàng ngày hôm nay</b></a>
            </div>
            <div class="mb-4 direct">
                <a  href="/admin/marketing" class="btn btn-warning rounded-pill">
                    <i class="fa-solid fa-rectangle-ad"></i>
                    <b>Quảng cáo ngay</b></a>
            </div>
        </div>
    </div>
</div>