<section  >
  <h4 class="mb-4">Quảng cáo</h4>
  <div class="row gap-5 shadow p-3 mb-5 bg-white rounded-4 w-100 m-0">
    <div
      class="col-5 d-flex justify-content-between flex-column p-2 rounded-3"
      style="background-image:linear-gradient(#D5EEDB, #FFC9D6) "
    >
      <div class="mb-5">
        <img src="img/user/logo.png" alt="HCMUS Canteen" width="300" />
      </div>
      <div>
        <img
          src="img/user/pho.png"
          alt=""
          style="object-fit: cover;"
          width="500"
        />
      </div>
    </div>
    <div class="col-6">
      <div style="color: #88D49A;" class="fw-bold fs-4 mb-2">Cơm gà xối mỡ</div>
      <div class="d-flex justify-content-between" style="color: #828282;">
        <p>Món mới</p>
        <p>Mở bán: 20.11.2023</p>
      </div>
      <hr />
      <div class="row gap-3 align-items-center">
        {{!  }}
        <div
          class="col-2 rounded-circle"
          style="background-color:#A7E8B7; width:50px; height:50px;"
        ></div>
        <div class="col-10">Cơm gà là món ăn ngon, phù hợp với mọi người, tiện
          lợi cho các bữa ăn trong ngày.</div>

        {{!  }}
        <div
          class="col-2 rounded-circle"
          style="background-color:#A7E8B7; width:50px; height:50px;"
        ></div>
        <div class="col-10">Sản phẩm được chế biến từ nguyên liệu tươi ngon,
          nguồn gốc rõ ràng.</div>

        {{!  }}
      </div>
      <hr />
      <div class="d-flex justify-content-between fw-bold fs-5 mb-3">
        <p>Giá</p>
        <p>25.000 VNĐ</p>
      </div>
      <div class="d-flex justify-content-between fw-bold fs-5">
        <p>Giảm giá</p>
        <p>8%</p>
      </div>
      <hr />
      <div class="d-flex justify-content-between fw-bold fs-5 mb-4">
        <p>Thành tiền</p>
        <p style="color: #5B9A6A;">23.000 VNĐ</p>
      </div>
    </div>
  </div>
</section>