<section class="h-100 h-custom" style="background-color: #fab289">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card"
          style="border-radius: 15px; border: 10px solid #ff5c28"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-5" style="background-color: #f3f3f3">
                <div class="p-5">
                  <div class="row" style="position: relative">
                    <div class="sale-text-container">
                      <span class="sale-percentage-text">8% Off</span>
                      <br />
                      <span class="sale-description-text">Fitness meal</span>
                    </div>

                    <img
                      class="order-img"
                      src="img/user/sale-woman.png"
                      alt=""
                    />
                  </div>

                  <div class="overflow-auto mt-5">
                    <div
                      class="row mb-4 d-flex justify-content-between align-items-center food-item"
                    >
                      <div class="col-md-2" style="position: relative">
                        <div class="heart-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="22"
                            viewBox="0 0 25 22"
                            fill="none"
                          >
                            <path
                              d="M22.5738 1.49576C19.8981 -0.784512 15.9186 -0.374356 13.4625 2.15982L12.5006 3.15104L11.5387 2.15982C9.08751 -0.374356 5.10314 -0.784512 2.42736 1.49576C-0.639049 4.11295 -0.800182 8.81021 1.94396 11.6471L11.3922 21.403C12.0026 22.0329 12.9938 22.0329 13.6041 21.403L23.0524 11.6471C25.8014 8.81021 25.6402 4.11295 22.5738 1.49576Z"
                              fill="#D82015"
                            />
                          </svg>
                        </div>
                        <img
                          src="https://cdn.tgdd.vn/Files/2021/08/09/1373996/tu-lam-com-tam-suon-trung-don-gian-thom-ngon-nhu-ngoai-hang-202201071248422991.jpg"
                          class="img-fluid rounded-3"
                          alt="Image"
                        />
                      </div>
                      <div class="col-md-3">
                        <h6 class="text-muted">Thức ăn</h6>
                        <h6 class="text-black mb-0">Cơm tấm</h6>
                      </div>
                      <div class="col-md-3 gx-0 d-flex">
                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--down"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                        />

                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--up"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3">
                        <h6 class="mb-0 item-price">25.000 VNĐ</h6>
                      </div>
                      <div class="col-md-1 text-end">
                        <a href="#!" class="text-muted"><i
                            class="fas fa-times"
                          ></i></a>
                      </div>
                    </div>
                    <hr class="my-4" />

                    <div
                      class="row mb-4 d-flex justify-content-between align-items-center food-item"
                    >
                      <div class="col-md-2" style="position: relative">
                        <div class="heart-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="22"
                            viewBox="0 0 25 22"
                            fill="none"
                          >
                            <path
                              d="M22.5738 1.49576C19.8981 -0.784512 15.9186 -0.374356 13.4625 2.15982L12.5006 3.15104L11.5387 2.15982C9.08751 -0.374356 5.10314 -0.784512 2.42736 1.49576C-0.639049 4.11295 -0.800182 8.81021 1.94396 11.6471L11.3922 21.403C12.0026 22.0329 12.9938 22.0329 13.6041 21.403L23.0524 11.6471C25.8014 8.81021 25.6402 4.11295 22.5738 1.49576Z"
                              fill="#D82015"
                            />
                          </svg>
                        </div>
                        <img
                          src="https://cdn.tgdd.vn/Files/2021/08/09/1373996/tu-lam-com-tam-suon-trung-don-gian-thom-ngon-nhu-ngoai-hang-202201071248422991.jpg"
                          class="img-fluid rounded-3"
                          alt="Image"
                        />
                      </div>
                      <div class="col-md-3">
                        <h6 class="text-muted">Thức ăn</h6>
                        <h6 class="text-black mb-0">Cơm tấm</h6>
                      </div>
                      <div class="col-md-3 gx-0 d-flex">
                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--down"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                        />

                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--up"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3">
                        <h6 class="mb-0 item-price">25.000 VNĐ</h6>
                      </div>
                      <div class="col-md-1 text-end">
                        <a href="#!" class="text-muted"><i
                            class="fas fa-times"
                          ></i></a>
                      </div>
                    </div>
                    <hr class="my-4" />

                    <div
                      class="row mb-4 d-flex justify-content-between align-items-center food-item"
                    >
                      <div class="col-md-2" style="position: relative">
                        <div class="heart-icon">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="25"
                            height="22"
                            viewBox="0 0 25 22"
                            fill="none"
                          >
                            <path
                              d="M22.5738 1.49576C19.8981 -0.784512 15.9186 -0.374356 13.4625 2.15982L12.5006 3.15104L11.5387 2.15982C9.08751 -0.374356 5.10314 -0.784512 2.42736 1.49576C-0.639049 4.11295 -0.800182 8.81021 1.94396 11.6471L11.3922 21.403C12.0026 22.0329 12.9938 22.0329 13.6041 21.403L23.0524 11.6471C25.8014 8.81021 25.6402 4.11295 22.5738 1.49576Z"
                              fill="#D82015"
                            />
                          </svg>
                        </div>
                        <img
                          src="https://cdn.tgdd.vn/Files/2021/08/09/1373996/tu-lam-com-tam-suon-trung-don-gian-thom-ngon-nhu-ngoai-hang-202201071248422991.jpg"
                          class="img-fluid rounded-3"
                          alt="Image"
                        />
                      </div>
                      <div class="col-md-3">
                        <h6 class="text-muted">Thức ăn</h6>
                        <h6 class="text-black mb-0">Cơm tấm</h6>
                      </div>
                      <div class="col-md-3 gx-0 d-flex">
                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--down"
                        >
                          <i class="fas fa-minus"></i>
                        </button>

                        <input
                          id="form1"
                          min="0"
                          name="quantity"
                          value="1"
                          type="number"
                          class="form-control form-control-sm"
                        />

                        <button
                          class="btn btn-link px-2 btn--modify-amount btn--up"
                        >
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                      <div class="col-md-3">
                        <h6 class="mb-0 item-price">25.000 VNĐ</h6>
                      </div>
                      <div class="col-md-1 text-end">
                        <a href="#!" class="text-muted"><i
                            class="fas fa-times"
                          ></i></a>
                      </div>
                    </div>
                    <hr class="my-4" />
                  </div>

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a class="btn btn-outline-info" href="/" role="button"><i
                          class="fas fa-long-arrow-alt-left me-2"
                        ></i>Quay về Canteen</a>
                    </h6>
                  </div>
                </div>
              </div>

              <div class="col-lg-3" style="background-color: #fefefe">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Đặt chỗ</h3>
                  <hr class="my-4" />

                  <select
                    class="form-select form-select-lg form-select-table"
                    aria-label="Default select example"
                  >
                    <option selected>Chọn bàn</option>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A3">A3</option>
                    <option value="A3">A3</option>
                    <option value="A3">A3</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-4 bg-grey" style="background-color: #f3f3f3">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Chi tiết</h3>
                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-uppercase">Bàn</h5>
                    <h5 class="selected-table">A2</h5>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-uppercase">Tổng tiền</h5>
                    <h5 class="total-price">100.000 VNĐ</h5>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="text-uppercase">Giảm giá</h5>
                    <h5 class="discount">8%</h5>
                  </div>

                  <hr class="my-4" />

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Thành tiền</h5>
                    <h5 class="final-price">92.000 VNĐ</h5>
                  </div>

                  <button
                    type="button"
                    class="btn btn-dark btn-block btn-lg border-0"
                    data-mdb-ripple-color="dark"
                    style="background-color: #ff5c28"
                  >
                    Thanh toán
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>