<section>
    {{!-- Detail food --}}
    <div class="card text-bg-dark mb-3" style="margin-top: 20px;">
        <div class="row g-0">
            <div class="col-md-6">
                <img src="{{food.image}}" class="img-fluid rounded-start" alt="food">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h1 style="text-align: center;" class="card-title" id="nameFood">{{food.name}}</h1>
                    <div class="row" style="margin-top: 30px;">
                        <p class="card-text"> <b>Giới thiệu : </b>Mì xào chua cay hơm từ thịt, ngọt từ xương với
                            nước cốt hầm đậm vị.</p>
                        <p class="card-text"> <b>Thành phần : </b>Mì khô, tôm tươi, ớt, hành, tỏi, ngũ vị và một số
                            gia vị liên quan</p>
                      
                        <div style="margin-top: 100px;" class="d-flex justify-content-between">
                              <h2><b>Giá bán : {{food.price}} đ</b></h2>
                            <a style="width: 180px;" href="#" class="btn btn-warning rounded-pill"><i
                                    class="fa-solid fa-cart-shopping"></i>
                                <br>Thêm vào giỏ</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>