<section class="content my-5 d-flex flex-column">
    <div class="d-flex justify-content-between">
        <div class="mt-3 col-6">
            <div>
                <h1
                    style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    <b> Những món ăn, thức uống bán chạy nhất tại canteen HCMUS </b>
                </h1>
                <h5 class="mx-2 col-10 mt-4"
                    style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Canteen HCMUS luôn cung cấp những món ăn ngon, thức uống độc đáo và
                    mới
                </h5>
                <h6 class="mx-2 col-10 mt-2"
                    style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    <i class="fa-regular fa-thumbs-up"></i> Chúng tôi tự hào mang đến
                    cho
                    bạn bữa ăn đậm chất Việt, từ hương vị cơm
                    thơm béo đặc trưng, đến những lựa chọn hải sản tươi ngon. <br /> <i
                        class="fa-regular fa-thumbs-up"></i>
                    Canteen HCMUS chào đón bạn vào một hành trình ẩm thực đặc sắc từ miền Trung Việt. Bát bún
                    bò ngon mắt, nước dùng thơm nồng, và thịt bò mềm thấm đẫm gia vị. <br />
                    <i class="fa-regular fa-thumbs-up"></i> Chúng tôi mang đến cho bạn không gian ấm áp và hương
                    thơm say lòng từ những hạt cà phê được rang xay tận nơi.
                </h6>
                <a class=" btn btn-primary text-center mt-3" href="#">Mua ngay</a>
            </div>
        </div>
        <div class="mt-5">
            <img class="img-fluid" src="img/user/imgHome.png" alt="">
        </div>
    </div>
    <div>
        <img src="img/user/imgContentHome.png" class="img-fluid" alt="">
    </div>
</section>