/* Header */
.header {
  top: 0;
  z-index: 12;
  padding: 15px 0 5px 0;
}

/* Logo */
.header .logo {
  width: 250px;
  height: 60px;
  float: left;
  transition-duration: 0.1s;
}
.header .logo:hover {
  transform: scale(1.05);
}
.header .logo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
/* ======= End logo ======== */

.avatar-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ccc;
  }
  .avatar-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

