.text-capitalize {
  text-transform: capitalize !important;
}

.text-sm {
  line-height: 1.5;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.green {
  color: green;
}

.order-table {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
}

.product-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: #ccc;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-row {
  border-top: 3px solid #ddd;
  display: none;
  transition: display 0s, opacity 0.5s;
}

.detail-row.open {
  display: table-row;
}

.detail-col {
  padding: 10px !important;
  background-color: #f0f3f5 !important;
}

.detail-table {
  background-color: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-button {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}

.modal {
  --bs-modal-width: 800px;
}

.modal-body {
  height: 500px;
}

.items-container {
  height: 350px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 10px;
}

#searchtxt {
  padding: 8px;
  width: 300px;
  cursor: pointer;
  box-sizing: border-box;
  overflow-y: scroll;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 400px;
  overflow-y: scroll;
}

#droptxt {
  margin-left: 100px;
  min-height: 42px;
  float: right;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  min-width: 300px;
  overflow: auto;
  z-index: 1;
  max-height: 200px;
  overflow-y: scroll;
}

.name {
  width: 150px;
}

.quantity {
  width: 40px;
}

.price {
  cursor: pointer;
  width: 80px;
}
.content div {
  padding: 10px 15px;
}
.content div:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
.hidden {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-content,
  .printable-content * {
    visibility: visible;
  }
  .printable-content {
    position: absolute;
    left: 0;
    top: 0;
  }
}
