<style>
  .active{ border-bottom: 5px solid #FF7629; } .navbar{ cursor: pointer;
  transition: all ease-in-out .1s;} .navbar:hover{ border-bottom: 5px solid
  #FF7629; } a{ color: black; text-decoration: none; }
</style>

<section>

  <nav class="d-flex justify-content-between px-5 fs-5 mb-5">
    <div class="navbar">
      <a href="/admin/statictis/1">
        Thống kê xuất nhập kho
      </a>
    </div>
    <div class="navbar">
      <a href="/admin/statictis/2">
        Thống kê tiêu thụ
      </a>
    </div>
    <div class="navbar active">
      Thống kê doanh thu
    </div>
    <div class="navbar">
      <a href="/admin/statictis/4">
        Thống kê chi tiêu
      </a>
    </div>
  </nav>
</section>