<style>
  .activeD {
    border-bottom: 5px solid #FF7629;
  }

  .navbar {
    cursor: pointer;
    transition: all ease-in-out .1s;
  }

  .navbar:hover {
    border-bottom: 5px solid #FF7629;
  }

  a {
    color: black;
    text-decoration: none;
  }
</style>

<section>

  <nav class="d-flex justify-content-between px-5 fs-5 mb-5">
    <div class="navbar">
      <a href="/admin/statistics/2">
        Thống kê tiêu thụ
      </a>
    </div>
    <div class="navbar activeD">
      Thống kê doanh thu
    </div>
    <div class="navbar">
      <a href="/admin/statistics/4">
        Thống kê chi tiêu
      </a>
    </div>
  </nav>
  {{! detail }}
  <div class="row justify-content-between mb-5 px-5">
    <div class="col-3 text-white rounded fw-bold py-2" style="background-color: #369FFF;">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between">
          <p>In Stock</p>
          <p class="fs-4">{{data.numpro}} Products</p>
        </div>
        <div class="d-flex flex-column justify-content-center"><i class="fas fa-boxes fs-1 text-black"></i></div>
      </div>
    </div>
    <div class="col-3 text-white rounded fw-bold py-2" style="background-color: #8AC53E;">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between">
          <p>Todays Revenue</p>
          <p class="fs-4">{{data.revenue}} VNĐ</p>
        </div>
        <div class="d-flex flex-column justify-content-center"><i class="fas fa-coins fs-1 text-warning"></i></div>
      </div>
    </div>
    <div class="col-3 text-white rounded fw-bold py-2" style="background-color: #C11A0F;">
      <div class="d-flex justify-content-between">
        <div class="d-flex flex-column justify-content-between">
          <p>Month Revenue</p>
          <p class="fs-4">{{data.revenueMonth}} VNĐ</p>
        </div>
        <div class="d-flex flex-column justify-content-center"><i class="fas fa-coins fs-1 text-warning"></i></div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mx-4 mb-3 align-items-center">
    {{! select }}
    <div class="d-flex align-items-center justify-content-between fs-5 px-5 fw-bold">
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-secondary" onclick="prevMonthClick()">
          ❮
        </button>
        <div class="px-3" id="MonthYear"></div>
        <button type="button" class="btn btn-outline-secondary" onclick="nextMonthClick()">
          ❯
        </button>
      </div>

    </div>
    <button type="button" class="btn btn-success fs-5" onclick="exportExcel()">Export Excel file</button>

  </div>
  {{! chartJS }}
  <canvas id="myChart" class="mb-5"></canvas>
  <canvas id="myLineChart" class="mb-4"></canvas>

</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>